#control-matrices {
  padding: 50px;
}

.input {
  width: 80px;
  margin-left: 10px;
  margin-bottom: 10px;
}

#button-container {
  display: flex;
}

#button-container > button {
  margin-left: 10px;
  margin-top: 20px;
}

#inputs {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#exampleFormControlTextarea1 {
  width: 46%;
}

.MathJax.CtxtMenu_Attached_0{
    font-size: 250% !important;
    margin-right: 110px !important;
    margin-top: 120px !important;
}
